<div class="flexrow lmb-footer">
    <div class="flexcol flex2 lmb-left-col">
        <h2 class="flex0">Monster's features</h2>
        <div class="flex1">
            <div class="flexcol flex3">
                <div class="flexrow">
                    <select class="flex1" id="monster-feature" name="monsterType">
                        {{#each options.features}}
                            <option data-infos="{{this.serialized}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="flexrow">
                    <button id="add-feature" class="lmb-button"><i class="fa-solid fa-circle-plus"></i> Add Feature</button>
                </div>
            </div>
        </div>
    </div>
    <div class="flexcol flex2">
        &nbsp;
    </div>
</div>

<script>




</script>