<div class="flexcol">
    <header>
        <h2>Future monster in a nutshell</h2>
    </header>
    <div class="flexrow">
        <div class="flex1">
            <img class="lmb-preview" id="token" src="{{options.path}}/tokens/aberration.png" />
            <input type="hidden" id="selectedMonsterStats" value="{{options.stats.[0].serialized}}" />
        </div>
    </div>
</div>