<div class="flexrow lmb-dialog-tab lmb-dialog-container">
    <div class="flexcol flex2 lmb-left-col">
        <div class="flex0">
            <header>
                <h2>Stat Block</h2>
            </header>
        </div>
        <div class="flex0">
            <div class="flexrow">
                <select id="monster-stat-block" name="statBlock">
                    {{#each options.statBlocks}}
                        <option value="{{this.name}}" data-infos="{{this.serialized}}">CR: {{this.CR}} - {{this.name}}
                        </option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="flexcol flex2 lmb-description-container">
            <span class="flex3 lmb-description" data-tooltip="..." data-tooltip-direction="LEFT" id="monster-desc">...</span>
        </div>
    </div>
    <div class="flexcol flex2 lmb-right-col">
        &nbsp;
    </div>
</div>