.lmb-stat {
    margin: 0.3em;
    display: flex;
    align-items: center;
}

.lmb-preview {
    width: 8em; 
    height: 8em;
    margin: auto;
}

.lmb-warn {
    color: red;
    font-size: smaller;
}

.lmb-hidden {
    visibility: collapse;
}

.lmb-dialog-tab {
    height: 200px;
}

.lmb-dialog-container {
    margin-top: 1em;
}

.lmb-vertical {
    align-items: center;
}

.lmb-footer {
    margin-bottom: 1em;
}

.lmb-center {
    align-content: center;
    background-color: blue;
}

.lmb-label {
    text-align: left;
}

.lmb-label-wrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }

  .lmb-description {
    width: 100%;
    height: 100%;
  }