.lmb-stat {
    margin: 0.2em;
}

.lmb-preview {
    width: 80px; 
    height: 80px;
    margin: auto;
}

.lmb-warn {
    color: red;
    font-size: smaller;
}

.lmb-hidden {
    visibility: collapse;
}

.lmb-dialog-tab {
    height: 180px;
}

.lmb-dialog-container {
    margin-top: 1em;
}

.lmb-vertical {
    align-items: center;
}